<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>
<h2>Add a Book to the List!</h2>


<form action="/books" method="post">
    <p><label for="title">Book Title:</label> <input id="title" type="text" name="title"></p>
  <p><label for="author">Author:</label> <input id="author" type="text" name="author"></p>
  <p><label for="genre">Genre:</label>
    <%@genres.each do |genre|%>
    <input type="checkbox" name="genre_id" value="<%=genre.id%>" id="<%=genre.id%>"><%=genre.name%></input>
<%end%>
    <div>
  <input class="big_button clearfix" type="submit" name="" value="Create">
</form>
</div>

